[Unit]
Description=telegram_stars_bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/bots/telegram_stars_bot
ExecStart=/root/apps/bots/telegram_stars_bot/venv/bin/python /root/apps/bots/telegram_stars_bot/main.py
Restart=always

[Install]
WantedBy=multi-user.target
